*.class

# Package Files #
*.jar
*.war
*.ear

*.classpath
/META-INF
.project
.settings
.projects
RemoteSystemsTempFiles
.metadata
.DS_Store
/netbeans/0710Ass2/dist/
/netbeans/22OctoberAss2/nbproject/private/
/netbeans/2210Ass2/nbproject/private/
/netbeans/2210Ass2/build/
/netbeans/2210Ass3/nbproject/private/
/netbeans/2210Ass3/build/
/netbeans/2210Ass3/dist/