.draggable { position:absolute; font-size:75%; color:black; cursor:pointer; }
.nondraggable { position:absolute; font-size:75%; color:black; }

.pitch {
	
	height: 372;
	width: 594; 
}


.lineupnames .ui-selected {border: 1px solid gray;}
.lineupnames {cursor:pointer; }
.lname { padding-right:50px;}


.pro{
       font-size: 1.4em;
       borderWidth: thin;
       height:90%; 
       border-style:solid; 
       text-shadow: 0 0 2px #FFFFFF; 
       text-align:center; 
       border-radius: 15px; 
       moz-border-radius: 15px; 
       overflow: visible;
       word-wrap: normal;
}
.table {
   	border-radius: 15px; 
	moz-border-radius: 15px;
	margin: -1px;
	padding -1px;
}
.table tr{

}

.normal { background-color: #EFEFEF }
.highlight { background-color: #C7C7C7; font-weight: bold;}